@charset "UTF-8";
* {
		margin: 0;
		padding: 0;
		border: 0;
		font-family: "Gilroy";
}

html {
		scroll-behavior: smooth;
}

body {
		background: #000000;
}

nav, footer, header {
		display: block;
}

button {
		cursor: pointer;
}

a:focus, a:active {
		outline: none;
}

a {
		text-decoration: none;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
}

a:hover {
		text-decoration: none;
		opacity: 0.8;
}

ul, li, ol {
		list-style: none;
		margin: 0;
		padding: 0;
}

input {
		outline: none;
}

h1, h2, h3, h4, h5, h6, p {
		margin: 0;
		padding: 0;
}

img {
		width: 100%;
}

input:focus::-webkit-input-placeholder {
		color: transparent;
}

input:focus:-moz-placeholder {
		color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
		color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
		color: transparent;
}

/* IE 10+ */
/*Цвет placeholder поиска*/
.search__input::-webkit-input-placeholder {
		color: #C4C4C4;
}

.search__input::-moz-placeholder {
		color: #C4C4C4;
}

/* Firefox 19+ */
.search__input:-moz-placeholder {
		color: #C4C4C4;
}

/* Firefox 18- */
.search__input:-ms-input-placeholder {
		color: #C4C4C4;
}

/*textarea*/
textarea {
		resize: none;
}

/*Цвета*/
/*Шаблоны */
.timers .time .timers__block:nth-child(4):before, .timers .time .timers__block:nth-child(3):before, .timers .time .timers__block:nth-child(2):before, .timers .time .timers__block:nth-child(1):before {
		display: block;
		position: absolute;
		bottom: -40px;
		color: #ffffff;
		font-size: 20px;
		width: 100%;
		text-align: center;
}

.timers .time #s span, .timers .time #m span, .timers .time #h span, .timers .time #d span {
		font-size: 24px;
		width: 28px;
		height: 50px;
		line-height: 28px;
		font-weight: 700;
		border-radius: 5px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}

.timer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		max-width: 460px;
		width: 100%;
		margin: 40px auto;
		font-size: 20px;
		line-height: 24px;
}
.timer div {
		position: absolute;
		text-align: center;
}
.timer .circle {
		color: #FFFFFF;
		position: relative;
		width: 150px;
		height: 150px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
}
.timer .circle .dots {
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 100%;
		height: 100%;
		z-index: 10;
}
.timer .circle .dots::before {
		position: absolute;
		top: -3px;
		content: "";
		background: var(--clr);
		width: 15px;
		height: 15px;
		border-radius: 50%;
}
.timer .circle svg {
		position: relative;
		width: 150px;
		height: 150px;
		-webkit-transform: rotate(270deg);
		        transform: rotate(270deg);
}
.timer .circle svg circle {
		width: 100%;
		height: 100%;
		fill: transparent;
		stroke: #02283F;
		stroke-width: 4;
		-webkit-transform: translate(5px, 5px);
		        transform: translate(5px, 5px);
}
.timer .circle svg circle:nth-child(2) {
		stroke: var(--clr);
		stroke-dasharray: 440;
}

.timers {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		max-width: 320px;
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 80px auto 0;
}
.timers .timers__info {
		display: none;
		font-size: 20px;
		line-height: 24px;
}
.timers .time {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		max-width: 300px;
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 20px auto 0;
}
.timers .time .timers__block {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 68px;
}
.timers .time .timers__block:nth-child(1):before {
		content: "Дней";
}
.timers .time .timers__block:nth-child(2):before {
		content: "Часов";
}
.timers .time .timers__block:nth-child(3):before {
		content: "Минут";
}
.timers .time .timers__block:nth-child(4):before {
		content: "Секунд";
}
.timers .time #d span {
		border: 2px solid #ffffff;
}
.timers .time #h span {
		border: 2px solid #e5ff00;
}
.timers .time #m span {
		border: 2px solid #1100ff;
}
.timers .time #s span {
		border: 2px solid #fd0000;
}

/*Responsive*/
/* ExtraLarge: 1200px - 1400px */
/* Large: 992px - 1199px */
/* Medium: 768px - 991px */
/* Small: 576px - 767px  */
/* Extra small: 0px (320px) - 576px */
@media (max-width: 575px) {
		.timer {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
		}
		.timer .circle {
				margin-top: 20px;
		}
		.timer .circle:nth-child(1) {
				margin-top: 0;
		}
}
/* Extra small: 0px (320px) - 480px */