*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gilroy';
}
html{
    scroll-behavior: smooth;
    
}
body{
    background: #000000;
}
nav,footer,header{
    display: block;
}
button{
    cursor: pointer;
}
a:focus,a:active{
    outline: none;
}
a{
    text-decoration: none;
    display: inline-flex;
}

a:hover{
    text-decoration: none;
    opacity: 0.8;
}
ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
input{
    outline: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*Цвет placeholder поиска*/
.search__input::-webkit-input-placeholder {color: #C4C4C4;}
.search__input::-moz-placeholder          {color: #C4C4C4;}/* Firefox 19+ */
.search__input:-moz-placeholder           {color: #C4C4C4;}/* Firefox 18- */
.search__input:-ms-input-placeholder      {color: #C4C4C4;}

/*textarea*/
textarea{
    resize: none;
}

/*Цвета*/
$cl1:#233506;
$cl2:#02283F;
$cl3:#243165;
$cl4:#375465;
$cl5:#FF800B;
$cl6:#FDB827;
/*Шаблоны */
%titleTinersBlock{
    display: block;
    position: absolute;
    bottom: -40px;
    color:#ffffff;
    font-size: 20px; 
    width: 100%;
    text-align: center;
}
%boxTimer{
    font-size: 24px;
    width: 28px;
    height: 50px;
    line-height: 28px;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.timer{
    display:flex;
    align-items:center;
    justify-content: space-between;
    max-width: 460px;
    width: 100%;
    margin: 40px auto;
    font-size: 20px;
    line-height: 24px;
    div{
        position: absolute;
        text-align: center;
    }
    .circle{
        color:#FFFFFF;
        position: relative;
        width: 150px;
        height: 150px;
        display: flex;
        align-items:center;
        justify-content: center; 
        .dots{
            position: absolute;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            z-index: 10;
            &::before{
                position: absolute;
                top:-3px;
                content: "";
                background: var(--clr);
                width: 15px;
                height: 15px;
                border-radius:50%;
            }
        }
        svg{
            position: relative;
            width: 150px;
            height: 150px;
            transform: rotate(270deg);
            circle{
                width: 100%;
                height: 100%;
                fill: transparent;
                stroke:$cl2;
                stroke-width: 4;
                transform: translate(5px,5px);
                &:nth-child(2){
                    stroke: var(--clr);
                    stroke-dasharray: 440;
                }
               
            }
        }
    }

}
.timers{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    justify-content: space-between;
    margin: 80px auto 0;
    .timers__info{
        display: none;
        font-size: 20px;
        line-height: 24px;
    }
    .time{
        display: flex;
        max-width: 300px;
        width: 100%;
        justify-content: space-between;
        margin: 20px auto 0;
       .timers__block{
        position: relative;
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 68px;
        &:nth-child(1):before{
            content:"Дней";
            @extend %titleTinersBlock;
                   
        }
        &:nth-child(2):before{
            content:"Часов";
            @extend %titleTinersBlock;
                   
        }
        &:nth-child(3):before{
            content:"Минут";
            @extend %titleTinersBlock;
                   
        }
        &:nth-child(4):before{
            content:"Секунд";
            @extend %titleTinersBlock;
                   
        }
        }
        #d{
            span{
                @extend %boxTimer;
                border:2px solid #ffffff;
            }
        }
        #h{
            span{
                @extend %boxTimer;
                border:2px solid #e5ff00;
            }
        }
        #m{
            span{
                @extend %boxTimer;
                border:2px solid #1100ff;
            }
        }
        #s{
            span{
                @extend %boxTimer;
                border:2px solid #fd0000;
            }
        } 
    }
    
}

/*Responsive*/

@media (max-width: 1490px){
   
}

/* ExtraLarge: 1200px - 1400px */
@media (max-width: 1400px){
   
}
/* Large: 992px - 1199px */
@media (max-width: 1199px){
   
}
/* Medium: 768px - 991px */
@media (max-width: 991px){
   
}

/* Small: 576px - 767px  */
@media (max-width: 767px){
    
}

/* Extra small: 0px (320px) - 576px */
@media (max-width: 575px){
 .timer{
    flex-direction: column;
    .circle{
        margin-top: 20px;
    }
    .circle:nth-child(1){
        margin-top: 0;
    }
 }   
   
}
/* Extra small: 0px (320px) - 480px */
@media (max-width: 480px){
   
}